@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

p {
  font-size: x-large;
  font-weight: bolder;
}

.textfield {
  text-align: center;
  font-family: 'Poppins';
  font-size: 42px;
  width: 500px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  border-bottom: none;
  background-color: #1a1a1a00;
}

.button {
  font-family: 'Poppins';
  margin: 10px;
  padding: 15px;
  width: max-content;
  font-size: 24px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
}

.row {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

